/*  1.2077 */

.imageContainerSize {
  height: 56px;
  width: auto;
}
.listContainer ul{
  max-height: 0;
}
.searchContainer:focus-within .listContainer ul{
  max-height: 300px;
}

@media (min-width: 768px) {
  .imageContainerSize {
    height: 100px;
  }
}
@media (min-width: 1024px) {
  .imageContainerSize {
    height: 200px;
  }
  .searchContainer:focus-within .listContainer ul{
    max-height: 600px;
  }
}