:root {
    --color-primary: #ffab00;
    --color-grey:#D1D8E1;
    --color-dark-background:#333333;
    --color-grey-border:#bdbdbf;
    --color-transparent-grey:rgba(0,0,0);
    --color-error:#FF3333;
    --color-white:#f3f3f3;
  }